/* ==========================================================================
   Author
   ========================================================================== */

.author-avatar {
    //display: none;

    //@include breakpoint($large) {
    display: inline;
    margin-bottom: 1em;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    //}
}
