---
---

@charset "utf-8";

/* Font Families */
$serif-font-family: "Volkhov", serif !default;

/* Site logo */
$site-logo-width: 90px !default;
$site-logo-height: 90px !default;

// noinspection CssUnknownTarget
@import "so-simple";
// noinspection CssUnknownTarget
@import "guest";
// noinspection CssUnknownTarget
@import "author";

/* Site title (larger) */

.site-title {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

/* Page title (smaller) */

.page-title {
  @include fluid-type($min-vw, $max-vw, 36px, 42px);
}

/* Entry title (smaller) */

.entries-list .entry-title {
  @include fluid-type($min-vw, $max-vw, 24px, 32px);
}

/* Site logo styles */

.site-logo-img {
  border-radius: $site-logo-width / 3;
}

/* Copyright styles */

.copyright {
  font-size: 0.7rem;

  p {
    margin: 0;
    padding: 0;
  }
}

/* Avatar styles */

.author-avatar {
  border-radius: 45px;
  margin: 10px;
}

.guest-avatar {
  border-radius: 45px;
  margin: 10px;
}
